body {
	background: url(../images/project/large.jpg) repeat;
}
.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
}
ul.nav {
	
	float:right;
	position: relative;
}
ul.nav li {
	display: inline-block;
	margin: 5px 0 0 0;
}
ul.nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #888;
	font-family: sans-serif;
	font-size: 14px;
	padding: 12px 5px 10px;
}
ul.nav a:hover {
	background: #eee;
	border-radius: 5px;
}

ul.nav-list {
	border: 5px solid #eee;
	padding: 0;
	text-align: left;
	width: 200px;
	border-radius: 4px;
	left: -9999px;
	position: absolute;
	margin-top: 20px;
}
ul.nav-list li {
	display: block;
	border: 1px solid #eee;
	margin: 0;
	padding: 15px 5px 15px 0;
}
ul.nav-list li:hover {
	background: #eee;
}
ul.nav-list a {
	text-transform: capitalize;
	color: #1a7bad;
	display: block;
	padding: 0;
	text-indent: 15px;
}
ul.nav-list a:hover {
	border-radius: 0;
	background: none;
}
ul.nav li:hover ul.nav-list {left: 40px;}

.body{
	background: url("../images/project/sg-about-bg.jpg") no-repeat 50% 100%;
	padding: 75px 0;
}
h3{
	color:#4786a5;
	
}
p{
	color:#4d5961;
}

img{
	background-image: url("images/project.photos.1/thumbnail.jpg");
	margin:50px;
}

background{
	
}
h2{
	margin:80px;
}

@media only screen and (min-width: 1500px) {
	.body {background-size: cover;}
}

@media only screen and (max-width: 768px) {
	ul.nav {display: none;}
}